#container_commands:
#    01_setup_apache:
#        command: "cp .ebextensions/enable_mod_deflate.conf /etc/httpd/conf.d/enable_mod_deflate.conf"
#    02-migration:
#        command: "php artisan migrate"
#        cwd: "/var/app/ondeck"
#        leader_only: true
#    03-seeder:
#        command: "php artisan db:seed --class=RolesSystemSeeder"
#        cwd: "/var/app/ondeck"
#        leader_only: true
