packages:
  yum:
    php72-gmp: []
files:
    "/etc/httpd/conf.d/cache_file.conf":
        mode: "000644"
        owner: root
        group: root
        content: |
            <FilesMatch "\.(ico|svg|json|jpg|jpeg|png|gif|js|css|woff)$">
            Header set Cache-Control "public, max-age=604800"
            </FilesMatch>
